/* CSS Document */
.ui-content {
	margin: 0;
	padding: 0 !important;
}
.popover-content {
	min-width: 300px;
}
#marker {
	width: 20px;
	height: 20px;
	border: 1px solid #088;
	border-radius: 10px;
	background-color: #F00;
	opacity: 0.7;
}
#markerTitle {
	text-decoration: none;
	color: black;
	font-size: 11pt;
	font-weight: bold;
	text-shadow: black 0.1em 0.1em 0.2em;
}
